/* http://davidwalsh.name/css-page-breaks */
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}


.fa-3 {
    font-size: 4em;
}
.fa-2 {
    font-size: 2em;
}
.pre-save {
	transition:border-color 2s
}

tr.pre-save.is-saving td{
	/* transition:border-color 0s; */
	/* border-color:#8dc63f; */
}

.parameterTreeMenu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.parameterTreeMenu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.parameterTreeMenu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.parameterTreeMenu>li>a>.fa, .parameterTreeMenu>li>a>.glyphicon, .parameterTreeMenu>li>a>.ion,
.parameterTreeMenu .treeview-menu li.treeview>a>.fa{
    width: 20px;
    margin-top: 3px;
}

.parameterTreeMenu li.active>a>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.parameterTreeMenu li>a>.fa-minus-square-o {
    display: none;
}

.parameterTreeMenu li.active>a>.fa-minus-square-o {
    display: inline;
}

.parameterTreeMenu li.active>a>.fa-plus-square-o {
    display: none;
}


.parameterTreeMenu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}

.parameterTreeMenu>li .tools {
    float: right;
    color: #dd4b39;
    visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.parameterTreeMenu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}

.parameterTreeMenu li.treeview {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.parameterTreeMenu > li .tools > .fa,
.parameterTreeMenu > li .tools > .glyphicon,
.parameterTreeMenu > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.parameterTreeMenu > li:hover .tools {
  display: inline-block;
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
.treeview-menu>li.active>a,  .treeview-menu>li>a:hover {
    color: #3c8dbc !important; 
}

.parameterTreeMenu .fa-angle-left {
	display:none;
}

.isParent .fa-angle-left{
	display:inline-block;
}


/* Graph related CSS */


.facet-widget .facetGraph{
	height: 300px;
	margin-bottom: 25px;
	overflow: visible;
}

.facet-widget .direct-chat-messages,
.facet-widget .direct-chat-contacts{
	height: 300px; !important;
}

.facet-widget.direct-chat-contacts-open .direct-chat-contacts{
   transform: translate(2%, 0);
}
/* Application interface diagram*/
.centralAssetWrapper { 
	height: 100%;
	min-height:100%;
}
.centralAsset .dropdown {
	position:absolute;
	top:10px; 
	right: 10px;
	display:none;
}

.centralAsset .dropdown-menu{
	right:0px !important;
	left: auto !important;
}

.aidblockwrapper {
	position:relative;
}

.centralAsset > .aidblockwrapper:hover > .dropdown{
  display: inline-block;
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

.aidblock td, .aidblock th {
	text-align: center;
}

.block_1 td, .block_1 th,
.block_2 td, .block_2 th,
.block_3 td, .block_3 th,
.block_4 td, .block_4 th{
	border: 1px solid black;
	border: coll
	padding: 5px;
}

.subBlockTitle {
	font-weight: bold;
}

.blockTitle {
	font-weight: bold;
	font-size: 1.1em;
}

.inboundAsset, .outboundAsset {
    position: relative;
    /* border-top-color: ; */
    /* border-top: 3px solid #3c8dbc; */
    /* border-radius: 3px; */
    /* background: #ffffff; */
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    height: 100%;
    border-radius: 25px;
    /* background: #8AC007; */
}

.centralApp {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    /* width: 100%; */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    height: 100%;
}

.interfaceType {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 10px;
    width: 100%;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
    text-align: center;
    overflow: hidden;
}

.interfaceDataType {
	position: absolute;
    top: 3px;
    left: 2px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.interface {
	position: relative;
	border-top: 1px solid black;
	top:50%;
}
.interfaceinbound{	
	border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);	
}
.interfaceoutbound{
	border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.interface.interface_realtime {
	border-top: 1px solid red;
	margin-bottom: 10px;
}

.interfaceFrequency {
	position: absolute;
    bottom: 5px;
    left: 2px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.inboundAssetApp, .outboundAssetApp {
    background: #8AC007;
}

.inboundAssetSer, .outboundAssetSer {
    background: #ADD8E6;
}

.inboundAssetDb, .outboundAssetDb {
    background: #FFFF00;
}

.inboundAssetOther, .outboundAssetOther {
    background: #FF8C00;
}

/* End of Application interface diagram*/
rect.bordered {
	stroke: #E6E6E6;
	stroke-width: 2px;
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
	fill: #aaa;
}

text.heatMapRow, text.heatMapRowGrp {
	text-anchor: end;
}

text.heatMapCol, text.heatMapColGrp {
	text-anchor: middle;
}

text.L1CategoryLabel {
	font-weight: bold;
	text-anchor: middle;
}

text.L0Label {
	font-weight: bold;
	text-anchor: middle;
	fill: #ffffff;
}

text.L1Label {
	text-anchor: middle;
	font-size: 0.7em;
}

.L0 rect {
	fill: #bfbfbf;
	fill-opacity: 0.5;
}

/* .L1Category rect {
	fill: #2c865a
} */

.L1 rect {
	fill: #ffffff;
}

.asterisk {
	color: red; 
}

.error_msg {
	float: none; color: red; 
   	vertical-align: top; 
   	display: block;
}

.mandatory {
	font-style: italic; font-size:10px;
	float: none; color: red; 
   	vertical-align: top; 
   	display: block;
}

td.horizontal {
	text-align: right;
}

li.treeview {
	white-space: normal;
}

.columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.required:after { 
	content:" *";
	color: red;
}

/* -----------------------------Css for viewFunctionalRedundancy---------------------*/

 .progress {
 	  background-color: #D2D6DE !important; 
 	  border-radius:1px; 
 }
 
td.assetMapping {
 	padding: 0px !important;
 	border: 1px solid black !important;
 	border-bottom: 1px dashed black !important;
 	border-top: 1px dashed black !important; 
 }
 
 div.assetMapping { 
 	display: block; 
 	width:80px; 
 	height:18px; 	
	margin-top: 2px !important;
	margin-right: 2px !important;
 	margin-bottom: 2px !important; 	
 }

td.levelTitle {
	padding: 1.5px !important;
	text-align:right; 
    vertical-align:middle;	
    border: 1px solid #DDD !important;   
    font-size:0.8em;
    width: 120px;
    white-space: nowrap;
    height:23px;
}
div.levelTitle {
	display:block; 
	margin-top: 2px !important;
	margin-right: 2px !important;
 	margin-bottom: 2px !important; 	
}

td.parentLevelTitle{
	padding: 1.5px !important;
	text-align:center; 
    vertical-align:middle;	
    border: 1px solid #DDD !important;
    padding:0px;
    width:90px;       
    overflow:hidden;
    white-space: nowrap;
    height:23px;
}

div.graphViewPort{
	float:left;	
	overflow-x: auto;
	padding-left:0px;
}
td.assetNameTitle{
	text-align:center;
	font-size:0.8em;
}


/* ----------------------------- Css ends for viewFunctionalRedundancy---------------------*/

div.bcmLevelName{
	background-color: #ebebeb;
    padding: 5px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    white-space: initial;
    text-align:center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
 	-moz-user-select: none;  
}

div.bcmLevelAssets{
	padding: 5px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    white-space: initial;
    text-align:center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
 	-moz-user-select: none;
}

.clickable{
  cursor: pointer;
}

.smallRectangle{	
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);

}
/* ------- Css for download button--------------*/
.downloadbutton{
	float:right;
	right:21px;
    position: relative;
}
.download{
	float:right;
	right:10px;
    position: relative;
}
.bcmFolderIcon{
	color:#3c8dbc;
}

.treeicon{
	float:right;
	right:30px;
	position: relative;
	color:black; 
	top:7px;
}
.excelDownload{
	float:right;
	right:50px;
	top:7px;
    position:relative;
    color:black;
}
a.excelDownload:hover {
    color: black;
}

a.excelDownload:visited {
    color: black;
}
a.excelDownload:link{
	 color: black;
}
.btnAIDreport{
	padding: 6px 2px;
}

.sidebar-mini.sidebar-collapse 
.sidebar-menu>li:hover>a>span:not(.pull-right),
 .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>
 .treeview-menu{
	width:188px;
}
.excelPhp{
       float:right;
       right:30px;
       top:7px;
    position:relative;
    color:black;
}
a.excelPhp:hover{
       color:black;
}
a.excelPhp:visited{
       color:black;
}
input.fake{
  display: none;
}
.camera{
    float: right;
    padding: 3px;
    top: 115px;
    right: 45px;
    position: relative;
}

.labelForPhoto{
	top: 150px;
	float: right;
    padding: 3px;
    right: 45px;
    position: absolute;
    color: lightslategray;
}
.sidebar-mini.sidebar-collapse
 .main-header
  .logo>
   .logo-mini
{
	font-size:11px;
	font-weight:bold;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container>.inline {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  
}
.nonClick{
pointer-events: none;
}
.greyOut{
	background: #a2a2a2;
    opacity: 0.5;
}
.greyLight{
	background: #e8e8e8;;
    opacity: 0.5;
}


.names {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
	line-height: 1.5;
	font-weight: 400;
	font-family: "avenir next", Arial, sans-serif;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: #FFA500;
	border-radius: 1px;
	pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 8px;
	width: 100%;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
	content: "\25BC";
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -8px;
	left: 0;
	text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}

/*    text{
      pointer-events:none;
    }*/
.details {
	color: white;
}
